# Node
node_modules/
dist/
build/

# Rails
/.bundle
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep
/backend/tmp/pids/*
/backend/tmp/sockets/*
/backend/tmp/cache/*
*.sqlite3
*.sqlite3-journal
/backend/config/master.key
/backend/config/credentials.yml.enc

# Environment variables
.env
.env.local
.env.development
.env.test

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
